/* ==UserStyle==
@name          VK no Avatars
@author        0ko (https://userstyles.world/~0ko)
@description   Убирает аватарки на сайте ВК. Можно настроить отображение аватарок в разных местах по своему предпочтению. Поддерживаются только сообщения пользователя, но не групп.
@version       3.0.1
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles#vk-no-avatars
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/VK/NoAvatars/VKnoAvatars.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  noaIMAva           "В сообщениях: аватар диалога"      1
@var checkbox  noaIM              "В сообщениях диалога"              1
@var checkbox  noaIMTopSide       "В сообщениях: сверху справа"       1
@var checkbox  noaIMReposts       "В сообщениях: в репостах"          1
@var checkbox  noaIMMembers       "В сообщениях: в списке участников" 1
@var checkbox  noaProfile         "В профилях (без Когда был в сети)" 0
@var checkbox  noaGroups          "В группах"                         0
@var checkbox  noaGroupsCommod    "В группах: модерация комментариев" 1
@var checkbox  noaPosts           "В постах"                          1
@var checkbox  noaReposts         "В постах в репостах"               1
@var checkbox  noaPostsComments   "В комментариях постов"             1
@var checkbox  noaGroupContacts   "В контактах групп"                 1
@var checkbox  noaGroupLinks      "В ссылках групп"                   1
@var checkbox  noaFriendsLists    "В списках друзей/подписчиков"      1
@var checkbox  noaGroupList       "В списке групп"                    1
@var checkbox  noaBlockOwner      "У хозяина блока (стена, списки..)" 1
@var checkbox  noaPhotoOwner      "В просмоторщике фото"              1
@var checkbox  noaPhotoComments   "В комментариях к фото"             1
@var checkbox  noaVideoOwner      "В проигрывателе видео"             1
@var checkbox  noaVideoComments   "В комментариях к видео"            1
@var checkbox  noaSearch          "В поиске"                          1
@var checkbox  noaSearchUsers     "В поиске: люди"                    1
@var checkbox  noaSearchGroups    "В поиске: группы"                  1

==/UserStyle== */

imp = !important

@-moz-document domain("vk.com"), domain("vk.ru")

	if noaIMAva
		.ConvoListItem__avatar
			display: none imp

	if noaIM
		.ConvoMessageWithoutBubble__avatar
			display: none

		.ConvoMessageWithoutBubble
			padding-left: 18px /* 54-36 */


	if noaIMTopSide
		.ConvoHeader__avatar
			display: none imp

	if noaIMReposts
		.im-mess .im-mess--post
			.post_image
				display: none imp
			.post_header_info
				margin-left: 0 imp /* 51px */

	if noaIMMembers
		.ConvoProfileMembers__memberAvatar
		.PeerPickerListItem__avatar
			display: none imp

	if noaProfile
		.ProfileHeader__ava
			display: none imp

	if noaGroups
		.redesigned-group-info__avatar
			display: none imp

	if noaGroupsCommod
		.group_activity_photo
			display: none imp

	if noaPosts
		.post .PostHeaderImgContainer--legacy.PostHeaderImgContainer--inHeader, .post .PostHeader__avatar
			display: none imp

	if noaReposts
		.copy_post_image
			display: none imp
		.copy_post_header_info
			margin-left: 0 imp /* 52px */

	if noaPostsComments
		.deep_active .replies
			/* комментарии и ответы */
			.reply .AvatarRich
			.reply_deleted .reply_img
			.reply_wrap .reply_image
				display: none imp
			.reply .reply_wrap
				margin-left: 0 imp /* 44px */

			/* кат ответов */
			.replies_wrap_deep
				.replies_short_deep .post_field_user_link
					display: none imp
				.replies_short_text_deep
					padding-left: 0 imp /* 34px */

	if noaGroupContacts
		#group_contacts, #public_contacts
			.fl_l
				&:has(.AvatarRich) /* FF compat. */ /* .fl_l:not(.info):not(.desc_info) */ ,
				&:has(.thumb)
					display: none imp
				&.info, &.extra_info, &.desc_info
					padding-left: 4px imp /* 12px */
					min-height: 36px /* 0 */

	if noaGroupLinks
		#group_links, #public_links
			.fl_l
				&:has(.AvatarRich) /* FF compat. */ /* .fl_l:not(.info):not(.desc_info) */ ,
				&:has(.thumb)
					display: none imp
				&.info, &.desc_info
					padding-left: 4px imp /* 12px */
					min-height: 36px /* 0 */

	if noaFriendsLists
		/* followers list uses same names */
		#page_layout #friends #friends_list .friends_photo_wrap
			display: none imp

	if noaGroupList
		.groups_list .group_row_photo
			display: none imp

	if noaBlockOwner
		.ui_ownblock_img
			display: none imp

	if noaPhotoOwner
		.pv_author_img
			display: none imp
		.pv_author_info
			padding-left: 0 imp /* 10px */

	if noaPhotoComments
		.pv_comments_list .reply_wrap
			.reply_image
				display: none imp
			.reply_content
				margin-left: 0 imp /* 42px */

	if noaVideoOwner
		.VideoLayerInfo__author
			.AvatarRich
				display: none imp
			.VideoLayerInfo__authorInfo
				margin-left: 0 imp /* 12px */
			/* reduce vertical spaces that are unnecessarily after AvatarRich removal */
			.VideoLayerInfo__authorInfo
				margin-top: 0 imp /* 7px */
			.mv_subscribe_block
				margin-top: 1px imp /* 8px */
			margin-bottom: 0 imp /* 15px */

	if noaVideoComments
		.mv_comments .reply_wrap
			.reply_image
				display: none imp
			.reply_content
				margin-left: 0 imp /* 44px */

	if noaSearch
		.search_row:not(.short) .img
			display: none imp

	if noaSearchUsers
		a[data-test-id="modal_catalog_user"] [class*="FakeAvatar-module__fakeAvatar--"]
			display: none imp

	if noaSearchGroups
		a[data-test-id="modal_group_item"] [class*="FakeAvatar-module__fakeAvatar--"]
			display: none imp
