/* ==UserStyle==
@name          Clean Web RU
@author        0ko (https://userstyles.world/~0ko)
@description   Содержит различные модификации для сайтов с контентом на русском. Если ломает какой-то сайт, отключить модификации для него можно в настройках стиля.
@version       2.8.23
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/CleanWeb/CleanWebRU.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  vm        "vm.ru"          1
@var checkbox  ria       "ria.ru"         1
@var checkbox  rbc       "РБК"            1
@var checkbox  vc_dtf    "vc.ru + dtf.ru" 1
@var checkbox  otvetmail "otvet.mail.ru"  1
@var checkbox  vkplay    "vkplay.ru"      1
@var checkbox  dzen      "dzen.ru"        1
@var checkbox  habr      "habr.com"       1
@var checkbox  auction   "auction.ru"     1

==/UserStyle== */

imp = !important

if vm
	@-moz-document domain("vm.ru")
		.header
			position: unset
		.scroll-to-page-top-link
		.ya-share
		.odsst-wrp
		.wrp.row.themes
			display: none imp
		.wrp_col
			&.social
			&.subscribe_form
			&.newspaper_col
				display: none imp
		.header .hamain
			padding: 8px 0

if ria
	@-moz-document domain("ria.ru")
		.header__menu-button.header__menu-login
		#widgetBottom
		.article__sharebar-line
		.article__userbar
		.footer__social
		.footer__copyright-age
			display: none imp
		.footer
			padding-bottom: 0

if rbc
	@-moz-document domain("rbc.ru"), domain("sportrbc.ru"), domain("rbclife.ru")
		.topline__wrapper
		.topline.fixed
		.navbar
		.topbar
		.rbc-header
		.life-header
			position: unset imp
		.life-header
			padding: 0
		.topline__padder
		.topbar__padder
			display: none imp

		.topline__auth
		.rbc-header-profile
		.navbar__social
		a.header__right-menu__item-button[href^="/offers?from=topline_try_"]
		.live-tv
		.options-eduson
		.oprosso
		.right-block_super-feature:has(a[href^="https://pro.rbc.ru/webinar/"])
		a[href^="https://pro.rbc.ru/demo/"]
		.js-index-doscroll-pro
		.js-index-doscroll:has(a[href^="https://pro.rbc.ru/demo/"])
		.article__inline-item:has(a[href^="https://pro.rbc.ru/demo/"])
		.js-index-doscroll-pro-inner
		.stub__base__anonim__content
		a.social-networks[href^="https://t.me/"]
		.js-social-toggle
		.js-readmore
		.js-social-likes
		.social-widgets
		.footer__td_subscribes
			display: none imp
		.footer__list
		.bottom-footer__list
		.footer__menu
		.footer-rubric
			&:has(a[href^="https://vk.com/rbc"])
			&:has(a[href^="https://t.me/rbc_life"])
			&:has(a[href^="https://pro.rbc.ru/"])
			&:has(a[href^="https://play.google.com/store/apps/details?id=ru.rbc.news"])
				display: none imp

if vc_dtf
	@-moz-document domain("vc.ru"), domain("dtf.ru")
		.site-header-beta img
		.site-header__section--create /* "Создать" (запись и др.) */
		.site-header__section--right /* "Авторизуйтесь или зарегистрируйтесь..." - уведомление, "Войти" */
		.header__right /* "Приложения", "Войти" */
		.search svg
		.sidebar-editor-button
		/* АЛЬТ: .head-notifies, .navigation-user:has(.navigation-user-login) */
		.l-island-a:has(a[href^="/plus"]) /* "Вы можете отключить рекламу, купив платную подписку" */
		.layout__right-column /* "У вас включён блокировщик рекламы..." */
		.aside--right .live /* "Сейчас обсуждают" */
		.content-header__item--subscribe /* "Подписаться" */
		.like-button--action-dislike /* "Дизлайк" */
		a[href*="://cmtt.ru"] /* "Заказать рекламу", "Вакансии" */
		.sidebar__footer__item--sponsor /* "Plus x Tinkoff" */
		.sidebar__footer__icons /* ссылки на приложение */
		.badge__icon.badge__icon--plus
		.subsite-badge--plus
		.subscribe-button-simple
		.content-footer__item--dislike
		.sidebar-item[href^="/my"]
		.sidebar-item[href^="/bookmarks"]
		.sidebar-item__has-updates
		.sidebar-tree-list-item[href^="https://vc.ru/job"]
		.sidebar-tree-list-item[href^="/job"]
		.sidebar-tree-list-item[href^="/subs"]
			display: none imp

if otvetmail
	@-moz-document domain("otvet.mail.ru")
		[class^="adv-slot-"] /* баннер сверху */
			display: none

if vkplay
	@-moz-document domain("vkplay.ru")
		.ph-menu__btn_gof /* "ИГРЫ БУДУЩЕГО" */
		.ph-menu__btn_gc /* "Загрузить Игровой центр" */
		.ph-user__login
		.aside__sticky-container
		.aside__static .download-aside
		.aside__static .link-game
		.social__toggle
		.comments__form
		.comments__reply
		.ph-footer__social
		.ph-footer__bottom
			display: none imp

if dzen
	@-moz-document domain("dzen.ru")
		div[data-itemid^="publishers_channel_subscribe_card_"] /* "Если нравится — подпишитесь" */
			display: none

if habr
	@-moz-document domain("habr.com")
		/* основной мусор */
		.tm-header__become-author-btn /* "Как стать автором" */
		.article-donation-block /* "Задонатить" */
		.tm-user-card__button_write /* Сообщение автору - требует регистрации */
		.tm-editoral-subscription /* "Редакторский дайджест" */
		.tm-comments__comment-notice /* "Зарегистрируйтесь на Хабре, чтобы оставить комментарий" */
		.tm-project-block /* "Заказы" */
		.tm-stories-block /* "Истории" */
		.tm-block:has(.tm-vacancies-block__item) /* "Работа" */
		.tm-block:has(.tm-event-card) /* "Ближайшие события" */

		.post-stats__comments-text /* комментариев нет */
		.tm-article-comments-counter-link__unread-counter /* зелёный счётчик комментариев */

		/* рейтинг комментариев */
		.tm-votes-lever__score-fallback /* "Рейтинг скрыт" */
		.tm-votes-lever__button /* оценивание */
		.tm-comment-thread__button /* "Ответить" */
		.tm-comment-footer__button.bookmarks-button /* добавление в закладки */

		/* соцсети */
		.social-icons
		.tm-footer__social

		/* реклама */
		a[href^="https://selectel.ru"]
		a[href^="https://slc.tl"]
		a[href^="https://vdsina.ru"]
			display: none imp

if auction
	@-moz-document domain("auction.ru")
		.community_icons
		.share_link
		#popup_fast_signin_community
		#count_new_offer
		#backtotop
		.footer__logo
			display: none imp
