/* ==UserStyle==
@name          Clean Web
@author        0ko (https://userstyles.world/~0ko)
@description   Contains some random tweaks for international websites. Can or will break websites. If so, use the checkboxes to disable tweaks for a particular website.
@version       2.15.96
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/CleanWeb/CleanWeb.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  searchbrave      "search.brave.com"             1
@var checkbox  startpage        "startpage.com"                1
@var checkbox  tineye           "tineye.com"                   1

@var checkbox  translateyandex  "translate.yandex.*"           1
@var checkbox  bingtranslator   "bing.com translator"          1

@var checkbox  github           "github.com"                   1
@var checkbox  gitlab           "gitlab.com"                   1
@var checkbox  codeberg         "codeberg.org"                 1

@var checkbox  docsdocker       "docs.docker.com"              1
@var checkbox  supportmicrosoft "support.microsoft.com"        1
@var checkbox  learnmicrosoft   "learn.microsoft.com"          1
@var checkbox  docsgitea        "docs.gitea.com"               1
@var checkbox  developermozilla "developer.mozilla.org"        1
@var checkbox  lambdatest       "lambdatest.com"               1

@var checkbox  oneoneoneone     "1.1.1.1"                      1
@var checkbox  dnsyandex        "dns.yandex.*"                 1

@var checkbox  marketplacemsvs  "marketplace.visualstudio.com" 1
@var checkbox  openvsx          "open-vsx.org"                 1
@var checkbox  chromewebstore   "chromewebstore.google.com"    1
@var checkbox  modrinth         "modrinth.com"                 1
@var checkbox  curseforge       "curseforge.com"               1

@var checkbox  soundcloud       "soundcloud.com"               1
@var checkbox  bandcamp         "bandcamp.com"                 1

@var checkbox  steamdb          "steamdb.info"                 1
@var checkbox  rovenimages      "rovenimages.com"              1
@var checkbox  twitch           "twitch.tv"                    1
@var checkbox  itch             "itch.io"                      1
@var checkbox  fedidb           "fedidb.org"                   1
@var checkbox  printables       "www.printables.com"           1
@var checkbox  internetmap      "internet-map.net"             1
@var checkbox  phoronix         "phoronix.com"                 1
@var checkbox  cyberciti        "cyberciti.biz"                1
@var checkbox  tomshardware     "tomshardware.com"             1
@var checkbox  winaero          "winaero.com"                  1
@var checkbox  timeis           "time.is"                      1
@var checkbox  windycom         "windy.com"                    1

@var checkbox  alternativeto    "alternativeto.net"            1
@var checkbox  stackexchange    "stackexchange, overflow, +.." 1
@var checkbox  wikigg           "wiki.gg"                      1

@var checkbox  socialshare      "*: social share buttons"      1
@var checkbox  breezewiki       "breezewiki"                   1
@var checkbox  discourse        "Discourse"                    1
@var checkbox  searchbylogo     "Search by"                    1
@var checkbox  maplinks         "Map links"                    1

==/UserStyle== */

imp = !important

if searchbrave
	@-moz-document domain("search.brave.com")
		/* main page */
		.example-searches
		.download-cta
			display: none imp

		/* feedback */
		#infobox-feedback
		#definitions-feedback
			display: none imp
		#nav-tabs #secondary-tabs
			#feedback
			.tabs-divider
				display: none imp

		#usage-metrics /* "Brave Search uses private usage metrics..." */
		#search-elsewhere /* "Find elsewhere" is a bad way of searching elsewhere */
		#infobox #footer /* duplicated source link */
			display: none imp

		#results
			margin-bottom: 0 imp
			#rh-definitions footer
				margin-top: 0 imp
				padding: 0 imp

		footer /* links */
			h6
			a[href^="https://account.brave.com/?intent=checkout"][href*="product=search"] /* "Brave Search Premium" */
			a[href^="https://brave.com/download"]
			a[href^="https://search.brave.com"]
			a[href^="https://brave.com/wallet"]
			a[href^="https://talk.brave.com"]
			a[href^="https://brave.com/firewall-vpn"]
			a[href^="https://brave.com/playlist"]
			a[href^="https://brave.com/brave-news"]
			a[href^="https://brave.com/brave-rewards"]
				display: none imp

			margin-top: 1rem imp
			padding: 1rem imp
			.content .block
				margin-bottom: 0 imp

if startpage
	@-moz-document domain("startpage.com")
		#home-top-banner
		.home-extension-notification-bell
		.blog-menu
		.home-hero-tagline
		main header div:has(.privacy-please-card)
		.search-home .hero-widget-containter
		.search-container .tagline
		.sx-wiki-social-link.sx-facebook
		#feedback-button-container
		.layout-web__footer
		.home-wrapper .footer-container
		main .footer
		#root .Layout :nth-last-child(1)[role="contentinfo"]
		.block-display:has(a[href*="articles/8832676731028"])
		.Firefox-promo
		.feedback-widget
		.feedback-widget-sidecar
		.feedback-serp-container
		.serp-sidebar-app-promo-widget
		/* homepage */
		.home-cta-container a[href="https://addons.mozilla.org/firefox/downloads/latest/startpage-private-search"]
		.home-hero-down-arrow
		#home-below-the-fold-container
		.privacy-extension-and-app-widget
			display: none
		.search-home
			.sunset
			.home-app-promo
			.transparent-logo
				display: none
		/* footer */
		[role="contentinfo"]
			a[href$="/privacy-please/"]
				display: none imp
			display: block imp

if tineye
	@-moz-document domain("tineye.com")
		a.hiring /* "We are hiring" */
		a.firefox /* "Add TinEye to Firefox" */
			display: none imp


/* translators */

if translateyandex
	@-moz-document url-prefix("https://translate.yandex.")
		a[href="/2024"]
		.popularTranslationsTextWrapper
		.social-links
		a[href^="https://browser.yandex."]
		li:has(a[data-tracker-goal="FOOTER_LINK_NAVIGATE_FEEDBACK"])
		li:has(a[data-tracker-goal="FOOTER_LINK_NAVIGATE_USABILITY"])
		li:has(a[data-tracker-goal="FOOTER_LINK_NAVIGATE_CATALOG"])
		.copyright
			display: none

if bingtranslator
	@-moz-document url-prefix("https://www.bing.com/translator")
		.desktop_header
		.desktop_header_menu
		.tta_phraseb /* "Widely used phrases" */
		.b_footer
			display: none


/* cloud version control */

if github
	@-moz-document domain("github.com")
		.new-feed-onboarding-notice /* "We've combined the power..." */
		.projects-splash-banner /* "Welcome to the all-new projects" */
		.team-left-column [aria-label="Explore repositories"]
		.discussion-timeline-actions .Box:has(img[src^="https://github.githubassets.com/images/email/sponsors/mona.png"]) /* "Show your support" */
		a[href^="https://github.com/orgs/github-community/discussions/categories/feed"] /* "Send feedback" */
		button[data-action="click:qbsearch-input#showFeedbackDialog"] /* search: "Give feedback" */
		[data-testid="copilot-popover-button"] /* "Code 55% faster with GitHub Copilot" */
		.gist-banner.gist-detail-intro  /* "Instantly share code, notes, and snippets." */
		a[href^="/join?source=comment-gist"] /* "Sign up for free" */
		.js-notice:has(form[action^="/settings/dismiss-notice/"])
		.Box:has(a[data-hydro-click*="sponsors.button_click"])
		.Box:has(button[id*="sponsors-issue-nudge-funding-modal"])
			display: none imp

		.ActionList .ActionListItem /* right sidebar */
			a[href^="/settings/enterprises"]
			a[data-analytics-event*='"action":"UPGRADE_PLAN"']
			a[href^="/organizations/enterprise_plan"]
			a[href^="/github-copilot/signup"]
				display: none imp

	@-moz-document domain("github.blog")
		.post__social
		a[href="https://twitter.com/github"]
		a[href="https://www.facebook.com/GitHub"]
		a[href="https://www.youtube.com/github"]
		a[href="https://www.twitch.tv/github"]
		a[href="https://www.tiktok.com/@github"]
		a[href="https://www.linkedin.com/company/github"]
		a[href="https://github.com/github"]
			display: none imp

if gitlab
	@-moz-document domain("gitlab.com")
		li[data-testid="start-trial-item"] /* "Start an Ultimate trial :rocket:" */
		li[data-testid="gitlab-next-item"] /* "Switch to GitLab Next" */
		*[data-track-label="ultimate_banner"] /* "Free Trial of GitLab.com Ultimate" */
		.disabled-comment /* "Please register or sign in to reply" */
			display: none

	@-moz-document domain("about.gitlab.com")
		.banner
		.slp-btn[href*="gitlab.com/-/trial_registrations/new"]
			display: none imp

if codeberg
	@-moz-document domain("codeberg.org")
		#profile-avatar-card li
			&.block
			&.follow
				display: none imp

/* documentations */

if docsdocker
	@-moz-document domain("docs.docker.com")
		.footer_links
			a[href^="https://www.docker.com/products/business"]
			a[href^="https://www.docker.com/newsletter-subscription"]
			a[href^="https://www.docker.com/products/docker-desktop"]
				display: none
		.footer_social_nav
			.fa-twitter
			.fa-linkedin-in
			.fa-facebook-f
			.fa-slideshare
				display: none
		*[title="Cookies Settings"]
			display: none

if supportmicrosoft
	@-moz-document domain("support.microsoft.com")
		#buyInstallButton /* "Buy Microsoft 365" */

		/* "You’re invited to try Microsoft 365 for free" "Unlock now" */
		.ucsUhfContainer
		#uhf-upgrade-banner
		/* "Was this information helpful?" */
		#supWrapperToPreventFeedbackFlickering
		#supFeedbackWrapper
			display: none

		/* sign in */
		#smcTeachingCalloutPopover:has(.signInMessages#noAccounts)
		div[data-bi-area="homepage_hero"] .subtitle:has(a[href^="https://support.microsoft.com/en-us/authentication/signin"])
			display: none

if learnmicrosoft
	@-moz-document domain("learn.microsoft.com")
		section[data-bi-name="stats-section"] /* "Level up with Microsoft Learn" */
		section[data-bi-name="testimonials-section"] /* "Meet inspirational learners from the community" */
		#user-feedback
		button[data-bi-name="collection"]
		#article-header-page-actions-overflow /* share via socials and print */
		.feedback-section
			display: none imp

if docsgitea
	@-moz-document domain("docs.gitea.com")
		[class*="announcementBar_"]
		.navbar__link[href^="https://docs.gitea.com/enterprise"]
		.signin-button
		.footer__link-item[href^="/awesome"]
		.footer__link-item[href^="https://twitter.com/giteaio"]
			display: none imp

if developermozilla
	@-moz-document domain("developer.mozilla.org")
		.header-search .search-input-field /* top search always wide */
			width: inherit imp

		.logo /* override logo accent to be always same as page accent */
			.logo-m
			.logo-_
				fill: var(--text-link)

		.mandala-container.pride textPath[href^="#circle"] /* spinning circle on homepage */
			fill: var(--mandala-primary)

		.homepage-hero section p > span::after /* fake underline */
		.top-banner /* non-discardable top banner */
		.auth-container .mdn-plus-subscribe-link /* "Get MDN Plus" */
		.contributor-spotlight .mandala /* its quite hard to read text with text on background */
		a.top-level-entry.menu-link[href^="/en-US/plus/ai-help"] /* "Want to use AI Help? Upgrade to MDN Plus." */
		.document-survey
			display: none imp

		.article-footer
			svg
			h2
			.feedback
				display: none imp

		footer
			.social-icons .icon-twitter
			.footer-nav-item a[href^="https://www.mozilla.org/en-US/careers/listings"]
			.footer-nav-item a[href^="/en-US/plus"]
				display: none imp

if lambdatest
	@-moz-document domain("lambdatest.com")
		.signtop
			display: none imp


/* dns */

if oneoneoneone
	@-moz-document domain("1.1.1.1")
		#subscription-form
		.FooterSection /* duplicate .HeroSection */
		.EasterEggSection
			display: none imp

if dnsyandex
	@-moz-document url-prefix("https://dns.yandex.")
		.lc-share
		.lc-social
			display: none imp


/* add-ons, plug-ins, extensions, modifications */

if marketplacemsvs
	@-moz-document domain("marketplace.visualstudio.com")
		#survey-container /* "What do you think about Visual Studio Marketplace?" */
		.vsCodeDownloadLinkContainer /* "New to Visual Studio Code? Get it now." */
		.ux-social-icons /* sharing icons with "just discovered this on the VSMarketplace" */
		#baseFooter #rightBaseFooter /* broken ms logo */
		.tab.VSSubs /* Visual Studio Subscriptions */
			display: none

if openvsx
	@-moz-document domain("open-vsx.org")
		.MuiPaper-elevation0 /* "Download this FREE white paper" */
			display: none
		footer[class^="jss"] /* unstick footer. probably making it inacessable to access on home page. should work fine on others though. i'd like to have regex for it instead. */
			position: unset

if chromewebstore
	@-moz-document domain("chrome.google.com"), domain("chromewebstore.google.com")
		div[aria-labelledby="promo-header"] /* "Switch to Chrome?" */
		.webstore-test-wall-marquee-slideshow /* extensions carousel */
		a[href*="gallery_tos.html"] span /* ToS "Updated" */
		div[aria-label="Available on Chrome"]
			display: none

if modrinth
	@-moz-document domain("modrinth.com")
		.not-affiliated-notice /* legal notice */
		a[href^="https://careers.modrinth.com"] .count-bubble /* fake counter */
			display: none

if curseforge
	@-moz-document domain("curseforge.com")
		#new-cf-website /* "The NEW CurseForge website BETA is now live!!" */
		#minecraft-server-list /* "The hottest online Minecraft servers are waiting for you!" */
		#freshworks-container /* Help button */
		div[data-target="author-upsell"]
		a[data-tooltip="Install with CurseForge app"]
		#cookiebar
		.back-to-top
		.social-links
		a.btn-feedback
		a[href^="/twitch-signup"]
		a[href^="/download/app"] /* "Get CurseForge App" */
		a[href^="https://download.curseforge.com/"]
		a[href^="/linkout"][href*="bisecthosting.com"]
		a[href^="/linkout"][href*="billing.kinetichosting.net"]
		.btn-cta:has(use[href="/images/sprite.svg#icon-cf"])
			display: none imp


/* music */

if soundcloud
	@-moz-document domain("soundcloud.com")
		.l-product-banners
		.userSidebar .directSupport
			display: none imp

if bandcamp
	@-moz-document domain("bandcamp.com")
		.corpbanner.tos-update /* "We've updated our Terms of Use..." a year ago */
			display: none imp


/*  */

if steamdb
	@-moz-document domain("steamdb.info")
		.global-announcement /* non-dismissable banner */
		a[href="/donate/"] /* big parallelogram and probably other links */
		text.highcharts-credits
			display: none

if rovenimages
	@-moz-document domain("rovenimages.com")
		.header-top /* duplicated "Roven Network" */
		.edns-gdpr-wrap /* cookies */
		.hosting-promo-text
		.hosting-promo-image
		a[href^="https://bluehost"]
		.ewf_widget_social_media /* facebook, instagram */
			display: none

if twitch
	@-moz-document domain("twitch.tv")
		#twilight-sticky-footer-root
			display: none

if itch
	@-moz-document domain("itch.io")
		.anon_intro
		.app_banner
		.large_promo_section
		.sidebar_social
		.footer .social
			display: none imp

if fedidb
	@-moz-document domain("fedidb.org")
		img[src^="/img/graph-watermark.png"]
			display: none imp

if printables
	@-moz-document domain("www.printables.com")
		/* background blur+fade in login form */
		.nsfw
		& *
			filter: none imp
		.modal-backdrop.fade.show
			opacity: 0 imp

if internetmap
	@-moz-document domain("internet-map.net")
		.posterBox
		#posterBox
		/*form[action^="https://www.paypal.com"]*/
		a[href^="https://web.archive.org"][href*="google.com"]
			display: none imp

if phoronix
	@-moz-document domain("phoronix.com")
		#social
		a[href^="/phoronix-premium"]
		a[href^="/contact"]
		#sharebar
		a[href="https://facebook.com/Phoronix"]
		a[href="https://twitter.com/Phoronix"]
			display: none imp
		#search input
			background-image: unset imp

if cyberciti
	@-moz-document domain("cyberciti.biz")
		.nixcraftsubscribing
		.num_comments_link
		.widget_custom_html:has(a[rel*="sponsored"])
		.widget_custom_html:has(a[href^="https://newsletter.cyberciti.biz/subscription"])
		.card:has(.patreonlist)
		.alert:has(.nixcraft-self-promo-button-container)
		.author_description
		.social-profiles
		a[href^="https://www.cyberciti.biz/tips/nixcraft-sponsors"]
			display: none imp

if tomshardware
	@-moz-document domain("tomshardware.com")
		.socialite-widget-ul
		[id*="slice-container-newsletterForm-articleInbodyContent-"]
			display: none imp

if winaero
	@-moz-document domain("winaero.com")
		body::before
		body::after
		#dbpa
		.dbpa-close
		.widget:has(a[href="/fix-perf-issues/"])
			display: none imp
		.site
			margin: 0

if timeis
	@-moz-document domain("time.is")
		#recover:has([onclick*="currency.world"])
		#recover:has([href*="currency.world"])
		.noprint.faded:has(.social_buttons)
		#quote
		#follow_app
			display: none imp

if windycom
	@-moz-document domain("windy.com")
		#open-in-app /* mobile only */
		#logo-wrapper
		.premium-button
		#login-button
		#window-premium-promo-resolution
		a[href*="openstreetmap.org/copyright"]
		a[href^="https://atmosphere.copernicus.eu"]
		a[href^="https://www.eumetsat.int/"]
		a[href^="https://www.nowcast.de/"]
		.rhpane-menu a[data-icon=""]
		#promo-euro2024
			display: none imp

		.menu-second-part
			.stores /* download app */
			.follow-us /* socials */
				display: none imp

		.premium-calendar #map-container::after /* premium watermark */
			background-image: none imp

		#plugin-info
			img.info-img-provider /* big logo */
			.get-premium
				display: none imp

/* wikis, forums */

if alternativeto
	@-moz-document domain("alternativeto.net")
		div[class*="AdsenseAd_"] /* huge ad banner that is just empty if using ublock */
		/* social media share buttons */ /* in news */
		div[class^="ShareButtons_shareButtons__"]
		div[data-testid="sharebuttons"]
		/* in lists */
		.share-buttons
			display: none

if stackexchange
	@-moz-document domain("stackexchange.com"), domain("stackoverflow.com"), domain("serverfault.com"), domain("superuser.com"), domain("askubuntu.com")
		a[data-gps-track*="top_nav.products"]
		a[href^="https://stackoverflow.com/users/login"]
		a[href^="https://stackoverflow.com/users/signup"]
		#announcement-banner:has(a[href^="https://stackoverflow.com/survey"])
		#js-ai-search-alpha-popover
		#nav-collective-discover
		#nav-labs-discussions
		#notice-sidebar-popover
		.js-freemium-cta
		#question-header .s-btn__primary
		.js-vote-up-btn
		.js-vote-down-btn
		.js-saves-btn
		.js-share-link
		.js-suggest-edit-post
		.js-follow-post
		.js-follow-question
		.js-follow-answer
		.user-info [class*="user-gravatar"]
		.new-contributor-indicator
		.js-add-link
		.s-sidebarwidget
		#hot-network-questions
		#your-answer-header
		.post-editor
		.new-post-login
		.js-add-answer-component
		.bottom-notice
		.site-footer--copyright
			display: none imp

		.s-input__search
			padding-left: var(--_in-px)
		svg.iconSearch
			display: none

if wikigg
	@-moz-document domain("wiki.gg")
		.header-inner
			padding: 1rem 0
		#footer-poweredbyico
			display: none

/* * */

if socialshare
	@-moz-document domain("theregister.com")
		.sharing_widget_story_desktop
			display: none imp
	@-moz-document domain("nextplatform.com")
		.mh-social-top
		.mh_magazine_social
			display: none imp
	@-moz-document domain("devclass.com")
		.social_wrapper
		.tdm-social-wrapper
			display: none imp
	@-moz-document domain("blocksandfiles.com")
		.td-post-sharing-top
		.td-post-sharing-bottom
			display: none imp

/* services deployed on too many domains */

@-moz-document url-prefix("http")
	if breezewiki
		[class*="fandom"] .bw-top-banner /* "Try our affiliated browser extension" */
			display: none

	if discourse
		.discourse-root .signup-cta
			display: none imp

	if searchbylogo
		a[class*="SearchResult_algoliaAttribution__"]
			display: none
		.DocSearch-Logo
			a[href^="https://www.algolia.com"]
			a[href^="https://typesense.org"]
				display: none
		/*.DocSearch-Logo:has(a[href^="https://www.algolia.com"])
		.DocSearch-Logo:has(a[href^="https://typesense.org"])
			display: none*/ /* this moves hotkey reference to the right */

	if maplinks
		.leaflet-container
			.leaflet-control-attribution
				display: none
