/* ==UserStyle==
@name          Pikabu только для чтения
@author        0ko (https://userstyles.world/~0ko)
@description   Удаляет большинство элементов, не влияющих на возможность просмотра содержимого. Обходит ограничения просмотра без учётной записи. Реклама не блокируется, этим должен заниматься uBlock Origin.
@version       2.0.8
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Pikabu/ReadOnly.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

==/UserStyle== */

imp = !important

@-moz-document domain("pikabu.ru")

	/* всплывающие окна */
	iframe[src^="https://autofill.yandex.ru"]
	[class*="VkIdWebSdk__floating_"]
	.popup-button-promo

	/* навбар */

	.icon--ui__pikabu
	#menu-subs
	.header-right-menu__notification
	.header-right-menu__login
	.header-right-menu__add


	/* временные события и декорации */

	a[href^="/birthday2024"]

	.snowflakes-container
	.header__icicles
		display: none imp

	html.new-year-theme .header__main
		&::after
		&::before
			background-image: none imp


	/* селекторы в ассортименте */

	.promo-button
	.community__add-story
	span[data-role="subscribe"]
	.recommended-communities
	.company-blogs-info__subscribe
	.company-blogs-info__logo
	.profile__support-btn
	.donators-list
	.profile__section:has(.fundraising-widget)
	.profile__section_awards
	.section_warning
	.stories-feed__message
	.app-404__svg-player
	.story-block_type_fundraising
		display: none imp


	/* различные ссылки на сервисы */

	a[href^="https://promokod.pikabu.ru"]
	a[href^="https://skidki.pikabu.ru"]
	a[href^="https://vacancies.pikabu.ru"]
	a[href^="https://education.pikabu.ru"]
		display: none imp


	/* действия со статьями, требующие входа */

	.story__rating-up
	.story__rating-down
	.story__save
	.story__share
	.story__donate
	.story__emotions
		display: none imp


	/* ограничения просмотра без учётной записи */

	.story_overlayed
		.story__adult-overlay_permanent
			backdrop-filter: none imp
		.story__content_overlayed
			img
			.player__preview
				filter: none imp
		.story__adult-overlay
			z-index: unset imp

	.story-comments-nsfw-warning
	.story-comments__nsfw-overlay
	.story_overlayed .story__adult-overlay_show .story__adult-overlay-inner
		display: none imp


	/* записи от бота промокодов */
	.story:has(.story__user-info .story__user-link[href^="https://pikabu.ru/@pikabu.promokody"])

	/* действия с комментариями, требующие входа */

	.icon--comments__rating-up
	.comment__rating-down
		display: none

	.comment__user
		margin-left: 0

	.comment__tool
		&[data-role="save"]
		&[data-role="complain"]
			display: none


	/* мусор в боковой панели */

	.sidebar-block:has(.auth_smallmargin)
	.sidebar-block:has(.button_create-community)
	.sidebar-block:has(.menu_promo-sidebar)
	.sidebar-public-ratings
	.sidebar-block_vacancies
	.sidebar-block_mail
	.sidebar-block:has(a[href="/information/company"])
		display: none imp


	/* нижняя навигация */

	.footer__section:has(a[href^="https://promokod.pikabu.ru"]) /* Наши проекты */
	.footer__section:has(a[href^="https://play.google.com/store/apps/details?id=ru.pikabu.android"]) /* Mobile */
	.footer__section:has(a[href^="https://fornex.com"]) /* Партнёры */
	.footer__algoinfo
		display: none imp
