/* ==UserStyle==
@name          qBittorrent dark Web UI
@author        0ko (https://userstyles.world/~0ko)
@description   Modern-looking dark theme for Web UI of qBittorrent v5. Will work on v4 just fine, but you may want to disable autoupdates of this userstyle in that case. Light theme is not supported!
@version       1.0.2
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/qBittorrent-WebUI/DarkModern/DarkModernQBTWUI.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

==/UserStyle== */

imp = !important

/* Please specify custom domains via Stylus manager instead of overriding the code */
@-moz-document domain("127.0.0.1:8080")
	:root
		--qbtmd-fg1: #efefef
		--qbtmd-fg2: #eeeeee
		--qbtmd-fg3: #e0e0e0
		--qbtmd-fg4: #dddddd
		--qbtmd-fgi: #000000

		--qbtmd-bg1: #191919
		--qbtmd-bg2: #232323
		--qbtmd-bg3: #333333
		--qbtmd-bg4: #454545

		--qbtmd-how: orange
		--qbtmd-sel: #3c517a
		--qbtmd-prg: #00ea94

		--qbtmd-border: 1px solid #999

	prg_filter = hue-rotate(283deg) brightness(250%)

	#desktopNavbar
		background: var(--qbtmd-bg1)
	#desktopNavbar ul li a
		color: var(--qbtmd-fg4)

	#desktopNavbar ul li a:hover
		color: var(--qbtmd-fg4)
		background: var(--qbtmd-bg2) imp

	#desktopHeader
	#desktopFooter
	.dynamicTable thead tr
		background: var(--qbtmd-bg2)

	#torrentsFilterInput
		filter: saturate(0)

	.mocha.replaced
	.mochaTitlebar.replaced
	.mochaMinimizeButton.replaced
	.mochaMaximizeButton.replaced
		background: var(--qbtmd-bg3) imp

	.mochaToolbarWrapper
		background: var(--qbtmd-bg3) imp
		border: none

	.mocha.isFocused .mochaTitlebar h3
		color: var(--qbtmd-fg2)

	.dynamicTable tbody tr
	#torrentFilesTableDiv .dynamicTable tr.nonAlt
		background: var(--qbtmd-bg1)

	.dynamicTableHeader
	h2, h3, h4
		color: var(--qbtmd-fg3)

	.dynamicTable th
		background: var(--qbtmd-bg2)

	.dynamicTable tbody tr
		&:nth-child(2n)
		&.alt
			&:not(.selected)
				background: var(--qbtmd-bg2)
			&:hover
				background: var(--qbtmd-how)
		&:hover
				background: var(--qbtmd-how)

	.panel-header
	.panel-headerContent.tabs
	.toolbarTabs
	.tab-menu li a
		background: unset imp

	.panel
	.panel-header
	.panel-headerContent.tabs
	.toolbarTabs li
	.tab-menu li
		background: var(--qbtmd-bg1) imp

	.tab-menu li
		a
			color: var(--qbtmd-fg2) imp
			:not(.selected)
				background: var(--qbtmd-bg3) imp
		&.selected
			background: var(--qbtmd-sel) /* or --qbtmd-bg4 */ imp
			a
				color: var(--qbtmd-fg1) imp
				font-weight: bolder imp

	.selectedFilter
		background-color: var(--qbtmd-sel) imp

	input
	textarea
		background: var(--qbtmd-bg3)
		color: var(--qbtmd-fg4)
		border: var(--qbtmd-border)
		border-radius: .5rem

	.columnHandle
	.horizontalHandle
		background: repeating-linear-gradient(
			45deg,
			var(--qbtmd-bg4),
			var(--qbtmd-bg4) 5px,
			var(--qbtmd-bg3) 5px,
			var(--qbtmd-bg3) 20px
		) imp

	#desktopNavbar li ul
		background: var(--qbtmd-bg3) imp
	#desktopNavbar li ul li a
		color: var(--qbtmd-fg2)

	.mochaContentWrapper
		background: var(--qbtmd-bg1)

	body
	.contextMenu li a
		background: var(--qbtmd-bg1)
		color: var(--qbtmd-fg2)

	.contextMenu li a:hover
		background: var(--qbtmd-bg2)

	.tab-menu li
		border-top: var(--qbtmd-border)
		border-right: var(--qbtmd-border)

		&:first-child
			border-left: var(--qbtmd-border)
			border-top-left-radius: .5rem
		&:last-child
			border-top-right-radius: .5rem


	.dynamicTable th
		border-right: var(--qbtmd-border)

	.panel-header
		border-bottom: var(--qbtmd-border)

	.progressbar_light
		background: var(--qbtmd-bg4) imp
		color: var(--qbtmd-fg2) imp
	.progressbar_dark
		background: var(--qbtmd-prg) imp
		color: var(--qbtmd-fgi) imp
	.piecesbarWrapper
		filter: prg_filter

	.piecesbarWrapper
	.piecesbarCanvas
		border-radius: 1rem


	fieldset
	fieldset.settings
		border: var(--qbtmd-border)
		border-radius: .5rem

	#watched_folders_tab
		td
		th
			border: var(--qbtmd-border)

	#pageWrapper
		border-bottom: none

	#desktopFooterWrapper
		border-radius: 1rem 1rem 0 0
		max-width: 70%
		margin: 0 15%


	#desktopFooter
		table
			position: unset imp
			width: 100%

			td
				width: 1%
				padding: 0 3px
				&.speedLabel
				&.statusBarSeparator
					width: min-content imp
					min-width: max-content /*unset*/
				&#DHTNodes
					padding-left: 2px
			&.speedLabel
				text-align: right

			tr :nth-child(2).statusBarSeparator
				width: 100% imp
				/*border-right: 3px solid #e1e1e1*/
				background-image: unset

	/*#pageWrapper
	#filtersColumn
	#filtersColumn_handle
	#Filters
	#mainColumn
	#searchTabColumn
	#searchTabColumn
		height: 100% imp*/

	.contextMenu
		background: var(--qbtmd-bg1)
		border: var(--qbtmd-border)
