/* ==UserStyle==
@name          Forgejo purple closed issues
@author        0ko (https://userstyles.world/~0ko)
@description   Changes the color of closed issue icons from red to purple.
@version       1.0.10
@license       MIT-0
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Forgejo/PCI/PurpleClosedIssues.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

==/UserStyle== */

imp = !important

ApplyStyle()
	.octicon-issue-closed.red:not(.issue-state-label)
		color: var(--color-icon-purple, var(--color-purple)) imp

	.red.issue-state-label:has(.octicon-issue-closed)
	.tw-bg-red.badge:has(.octicon-circle-slash)
		background: var(--color-purple) imp

	.page-content:has(.pull.tabs.container)
		.tw-bg-red.badge:has(.octicon-circle-slash)
			background: var(--color-red) imp

@-moz-document url-prefix("h")
	html[class*="forgejo"]
	html[data-theme*="forgejo"]
	html[data-theme*="gitea"]
		ApplyStyle()
