/* ==UserStyle==
@name          Immersive Street View
@author        0ko (https://userstyles.world/~0ko)
@description   For Google Maps. Removes overlay UI for taking screenshots.
@version       1.2.4
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles#immersive-google-maps-street-view
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Google-Maps/Immersive/Immersive.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  noUI        "Totally immersive"            0
@var checkbox  noVignette  "No vignette (& close button)" 0
@var checkbox  noSearchbar "No search bar"                0
@var checkbox  noTitlecard "No title card"                0
@var checkbox  noMinimap   "No mini-map"                  0
@var checkbox  noInfo      "No bottom right info"         1
@var checkbox  noWatermark "No watermark"                 1
@var color     usageHint   "You may need to disable the style to manually hide some UI elements." "#ffffff00"

==/UserStyle== */

imp = !important

@-moz-document url-prefix("https://www.google.com/maps/")

	if noUI
		#play
		.app-vertical-widget-holder
		.app-horizontal-widget-holder
			display: none imp

	if noUI or noVignette
		#image-header
			display: none imp

	if noUI or noSearchbar
		#searchbox
		#omnibox-singlebox .omnibox-active[role="search"]
			display: none imp

	if noUI or noTitlecard
		#titlecard
			display: none imp

	if noUI or noMinimap
		#minimap
			display: none imp

	if noUI or noInfo
		.scene-footer-container
			display: none imp

	if noWatermark
		#watermark
			display: none imp

@-moz-document domain("www.google.com") { --ISV-UserStyle-USw-Stylus-Index-Special: #000; }
