/* ==UserStyle==
@name          YouTube no Avatars
@author        0ko (https://userstyles.world/~0ko)
@description   Removes avatars from video previews, comments and community posts to make them less noisy. This style doesn't affect some avatars, so the UI doesn't look too weird.
@version       1.0.2
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/YouTube/NoAvatars/YouTubeNoAvatars.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

==/UserStyle== */

imp = !important

@-moz-document domain("youtube.com")

	#avatar-container
	#author-thumbnail
	#details #avatar-link
		display: none imp

	ytd-comment-replies-renderer
		margin-left: 32px /* 56-24 */
