/* ==UserStyle==
@name          Vdarker
@author        0ko (https://userstyles.world/~0ko)
@description   Alternative dark mode for VK. Makes it look right.
@version       2.4.7
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles#vdarker
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/VK/Vdarker/Vdarker.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  forceDark "Применять всегда"     1
@var checkbox  darkLinks "Тёмные иконки ссылок" 0

==/UserStyle== */

imp = !important

ApplyTheme()

	/* Опции */

	if darkLinks
		.thumb
			background-image: url(https://i.imgur.com/17phspi.png) imp


	/* Основные цвета Vdarker */

	:root
		--vdarker_accent: #72AEF6

		--vdarker_gray0: #000000
		--vdarker_gray1: #121212
		--vdarker_gray2: #1C1C1C
		--vdarker_gray3: #252525
		--vdarker_gray4: #313131
		--vdarker_gray5: #3C3C3C
		--vdarker_gray6: #454545
		--vdarker_gray7: #5C5C5C

		--vdarker_grayZ: #FFFFFF
		--vdarker_grayY: #EAEAEA
		--vdarker_grayX: #DEDEDE
		--vdarker_grayW: #CCCCCC
		--vdarker_grayV: #BDBDBD
		--vdarker_grayU: #AAAAAA
		--vdarker_grayT: #999999
		--vdarker_grayS: #656565


	/* Основная покраска */

	:root
	:root [scheme=vkcom_dark]
	:root [scheme=vkcom_light]
	body[scheme=bright_light]
	[scheme=bright_light]
	.vkui--vkCom--dark
	.vkui--vkBase--dark

		--accent: var(--vdarker_accent)
		--text_link: var(--vdarker_accent)
		--button_primary_background: var(--vdarker_accent)
		--button_tertiary_foreground: var(--vdarker_accent)
		--counter_primary_background: var(--vdarker_accent)
		--vkui--color_background_accent_themed: var(--vdarker_accent)

		--button_tertiary_foreground: #5590CA
		--button_secondary_foreground: #D5D5D5

		--background_page: var(--vdarker_gray1)

		--background_light: var(--vdarker_gray2)
		--header_background: var(--vdarker_gray2)
		--input_background: var(--vdarker_gray2)
		--vkui--color_write_bar_input_background: var(--vdarker_gray2)
		--field_background: var(--vdarker_gray2)
		--snippet_background: var(--vdarker_gray2)
		--background_content: var(--vdarker_gray2)
		--search_bar_background: var(--vdarker_gray2)
		--vkui--color_header_background: var(--vdarker_gray2)
		--vkui--color_background_content: var(--vdarker_gray2)
		--vkui--color_background_modal: var(--vdarker_gray2)
		--modal_card_background: var(--vdarker_gray2)
		--vkui--color_background_tertiary: var(--vdarker_gray2)
		--vkui--color_field_background: var(--vdarker_gray2)

		--background_highlighted: var(--vdarker_gray3)
		--dynamic_blue: var(--vdarker_gray3)
		--content_tint_background: var(--vdarker_gray3)
		--vkui--color_background_secondary: var(--vdarker_gray3)

		--search_bar_field_background: var(--vdarker_gray4)
		--vkui--color_search_field_background: var(--vdarker_gray4)
		--separator_common: var(--vdarker_gray4)
		--input_border: var(--vdarker_gray4)
		--button_secondary_background: var(--vdarker_gray4)
		--float_button_background: var(--vdarker_gray4)

		--landing_snippet_border: #353535
		--separator_alternate: #404040

		--counter_secondary_background: var(--vdarker_gray7)

		--icon_tertiary: var(--vdarker_grayS)

		--text_secondary: var(--vdarker_grayT)
		--vkui--color_icon_secondary: var(--vdarker_grayT)

		--text_muted: var(--vdarker_grayU)
		--text_subhead: var(--vdarker_grayU)
		--vkui--color_text_subhead: var(--vdarker_grayU)

		--dynamic_gray: var(--vdarker_grayV)

		--text_tertiary: var(--vdarker_grayX)
		--header_text: var(--vdarker_grayX)
		--text_primary: var(--vdarker_grayX)
		--link_alternate: var(--vdarker_grayX)
		--icon_secondary: var(--vdarker_grayX)
		--icon_outline_medium: var(--vdarker_grayX)
		--vkui--color_text_accent--active: var(--vdarker_grayX)

		--vkui--color_text_primary: var(--vdarker_grayY)
		--vkui--color_text_contrast: var(--vdarker_grayY)

		--button_primary_foreground: var(--vdarker_gray0)

		--writebar_icon: #9DA3A9


	/* Назначение цветов, которые невозможно задать переменными */
	/* И идущих вразрез с оригинальным дизайном */

	body
	[class*="vkitLeftMenuItem__counter--"]
	.im-replied--text
	.audio_row__more_actions .audio_row__more_action

	.wddi_text
	.wddi_sub
	.Entity__title
	.ui_ownblock_label
	.ui_rmenu_item_sel
	.ui_rmenu_item_sel:hover

	.top_audio_player .top_audio_player_title

	.nim-dialog--inner-text
	.nim-dialog--preview
	.nim-dialog .nim-dialog--who
		color: var(--vdarker_grayX) imp

	body:not(style*="url(https://vk.com/images/error404.png)")
		background: var(--vdarker_gray1) imp

	.im-chat-input
	.group-info-box__header
	.thumbed_link
	.media_voting:not(.media_voting_bg_gradient)
	.media_link__label
		background: var(--vdarker_gray2) imp

	.nim-dialog:not(.nim-dialog_deleted)
		&:not(.nim-dialog_classic).nim-dialog_selected
			background: var(--vdarker_gray3) imp

	.nim-dialog:not(.nim-dialog_deleted)
		&.nim-dialog.nim-dialog_selected:hover
		&:hover + .nim-dialog.nim-dialog_selected
		&.nim-dialog.nim-dialog_selected.nim-dialog_hovered
		&.nim-dialog_hovered + .nim-dialog.nim-dialog_selected
		&.nim-dialog.nim-dialog_selected.nim-dialog_classic.nim-dialog_unread
		&.nim-dialog_unread.nim-dialog_classic + .nim-dialog.nim-dialog_selected
		&.nim-dialog_hovered.nim-dialog_selected + .im-search-results-head
		&.nim-dialog_unread.nim-dialog_classic.nim-dialog_selected + .im-search-results-head
		&.nim-dialog_selected:hover + .im-search-results-head
		&.nim-dialog_selected + .nim-dialog
		&.nim-dialog_selected + .im-search-results-head
			border-top: 1px solid var(--separator_common) imp

	.nim-dialog.nim-dialog_pinned + .nim-dialog:not(.nim-dialog_pinned) .nim-dialog--content
		margin-top: 0 imp

	[class*="vkitLeftMenuItem__counter--"]
		background: var(--vdarker_gray5) imp

	[dir] .SitpostingEntrypoint::before
		background-color: var(--vdarker_gray6) imp

	.im-navigation--label-in
	.vkuiButton--lvl-primary.vkuiButton--clr-accent
	.vkuiButton--mode-primary
		color: var(--vdarker_gray0) imp
		background-color: var(--vdarker_accent) imp

	[scheme=bright_light]
		.MenuItem__active .Tappable__hoverShadow
		.MenuItem .Tappable:not(.SliderSwitch__button).Tappable--shadowHovered .Tappable__hoverShadow
			background-color: rgba(255, 255, 255, 0.14)

	.profile_label_more
	.im-page--members
		color: var(--vdarker_grayW) imp

	.audio_page_player2 .audio_page_player_
		&prev
		&next
			/* кнопки переключения треков */
			color: #88C4FF imp

	.Entity__title a
	.im-mess-stack .im-mess-stack--content .im-mess-stack--pname>a
	.audio_row .audio_row__performers a
	.im-replied--author-link

	.im-mess--text > a
	.wall_post_text > a
	#pv_desc a

	.profile_info_row > .labeled > a

	.feedback_header
	.mem_link
	.im-fwd--title-name
	.wall_reply_greeting
	.mention_tt_name

	.group_info_rows_redesign a
	.nim-dialog--typing

	.OwnerPageName__verified

	/* ссылки и хештеги */
	a[href^="http://"]
	a[href^="https://"]
		&:not(.left_menu_nav):not(.replies_short_deep):not(.Post__copyrightLink):not(.Main__footerLink):not(.bnav_a)
			color: var(--vdarker_accent) imp

	a[href^="/away.php?to="]
	a[href^="/feed?section=search"]:not(#ui_rmenu_search)
	a.MarketItemCardAdditionalInfo
		color: var(--vdarker_accent) imp

	.FlatButton--primary .FlatButton__content
	.Button--primary .ButtonWithProgress__content
	.flat_button .primary
		color: var(--vdarker_gray0) imp

	.im-mess-stack .im-mess-stack--content .im-mess-stack--tools a
	.nim-dialog .nim-dialog--preview-attach
	.im-page-pinned--media
	._im_mess_link
	.nim-dialog--preview .nim-dialog--preview-attach
	.Main__footerLink

	.profile_info .label
	.ui_rmenu_subitem

	.ui_tab
	.ui_tabs .ui_tab

	.Post__copyright .Post__copyrightLink

	.rel_date
	.published_by_date
	.feedback_date
	.reply_link
	.share_link
	.group_desc
	.header_right_link
	.left_menu_nav

	.audio_w_covers .audio_row .audio_row__performers > a
		color: var(--vdarker_grayU) imp

	.ui_tab.ui_tab_sel
		color: var(--vdarker_grayX) imp

	.audio_page_player2 .audio_page_player_title_
		&song_subtitle
		&performer
		&performer .artist_link
			color: var(--vdarker_grayU) imp

	a
	.page_name
	h1.page_name
	.post_replies_reorder

	.audio_page_player2 .audio_page_player_title_song
	.audio_page_player_title_song_title
	.audio_page_player_title_link

	.audio_layer_container .audio_page__footer_clear_playlist

	.audio_pl_snippet__info_title_row
	.audio_pl_snippet__info_title
	.audio_pl_snippet_info_maintitle
	.audio_pl_snippet__info_subtitle
	.audio_pl__subtitle
	.audio_pl_snippet__artist_link > a

	.feedback_header

	#top_logout_link
	.security_settings_item_label
	#security_item_label

	.ui_load_more_btn
	._ui_load_more_btn

	.media_voting_author .mem_link
		color: var(--vdarker_grayY) imp

	.nim-dialog.nim-dialog_failed.nim-dialog_muted
	.nim-dialog.nim-dialog_unread.nim-dialog_muted
	.nim-dialog.nim-dialog_unread.nim-dialog_prep-injected.nim-dialog_muted
		.nim-dialog--unread
		.nim-dialog--unread-badge_bomb
			background: var(--vdarker_gray7) imp
			color: var(--vdarker_grayY) imp

	.im-page
		.im-page--dialogs-archives-button .im-page--dialogs-folder-button--counter
		.im-page--dialogs-folder-button--mentions
			background: var(--vdarker_gray7) imp
			color: var(--vdarker_grayY) imp

	.nim-dialog.nim-dialog_unread-out.nim-dialog_muted:not(.nim-dialog_failed) .nim-dialog--unread
	.nim-dialog.nim-dialog_unread-out:not(.nim-dialog_failed) .nim-dialog--unread
	.nim-dialog.nim-dialog_unread.nim-dialog_unread-out:not(.nim-dialog_failed) .nim-dialog--unread
	.audio_inline_player .slider .slider_amount
	.audio_page_player .slider .slider_amount
	.audio_inline_player .slider .slider_handler
	.audio_page_player .slider .slider_handler
	.audio_page_player2 .audio_page_player_track_slider.slider.slider_size_1 .slider_handler
	.audio_page_player2 .audio_page_player_volume_slider.slider.slider_size_1 .slider_handler
	.ui_rmenu_extra_label_badge_new
		background: var(--vdarker_accent) imp

	/* серая галка подтверждённой страницы. VK: 828282, Vdarker: 999999 */
	.nim-dialog.nim-dialog_verified_by_other_services .nim-dialog--verfifed /* в списке диалогов */
	.OwnerPageName__esia /* на странице */
		color: var(--vdarker_grayT) imp

	.PostButtonReactions__title
	.PostBottomAction__count
	.like_button_count
		color: var(--vdarker_grayX) imp

	.page_counter .label
	.ui_ownblock_hint
	.right_list_field .group_link
	.right_list_link
	.ui_gallery_wall_cards .wall_card__text
	.profile_closed_wall_dummy
	.im-mess--lbl-was-edited
		color: var(--vdarker_grayT) imp

	/* Обложка композиции по умолчанию */
	.audio_page_player2 .audio_page_player__cover
		background-color: var(--vdarker_gray3) imp
		background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m0 0h24v24h-24z' opacity='.4'/%3E%3Cpath d='m13 11.4849987v5.6482897c0 4.5123987-.8747233 5.3834431-4.37440289 5.8421935-1.6682259.2186769-3.62559711-.5384568-3.62559711-3.1617096 0-1.2814037.80181302-2.498263 2.46114282-2.8162494 1.26723039-.2428462-.09078118.0181935 2.77607228-.5140396.6959753-.1292083.7748413-.3782301.7748413-.908791 0-.2664094-.0013183-2.5951438-.0022416-4.1936475l-.0073943-.0003862v-4.31781414s-.0054461-2.05827203 0-3.08739758c.0065136-1.23086488.6796458-1.68321833 2.6637921-2.08397579 0 0 3.0232113-.57396781 4.6852252-.87541989.367783-.06670761.6485622.07018054.6485622.49202579 0 0-.0106774 2.62210108 0 4.05433854.0031006.41590408-.168424.60420104-.5899711.67902227-1.6816987.29848801-4.8649278.86036181-4.8649278.86036181-.3738792.09182758-.5451011.35499958-.5451011.73329156z' fill='%239a9a9a' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") imp

	/* Обводка всплывающих карт */
	.eltt.eltt_fancy /* фильтры лога группы, мб, ещё что-нибудь */
	[class*="SearchResults-module__root--"] /* глоб. поиск */
	.page-group-actions__inner /* "Ещё" в группах */
	.ui_actions_menu /* три точки на постах */
	.MessageReactionsPanel /* панель выбора реакций в сообщениях */
	.MessageReactions:not(.MessageReactions--selected) /* реакции */
	.ms_items_more
		border: 1px solid var(--separator_common) imp


	/* Исправления недочётов ВК */

	/* Треугольник кнопки воспроизведения ГС (у музыки он нормальный) */
	.audio-msg-track .audio-msg-track--btn[aria-label="Play"]
		background: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 11' width='10px' height='11px'%3E %3Cpolygon stroke='%23121212' fill='%23121212' style='stroke-linecap: round!important; stroke-linejoin: round!important;' points='2.5 0.5 2.5 9.5 9.5 5' transform=''%3E%3C/polygon%3E %3C/svg%3E") var(--vdarker_accent) no-repeat 50% imp
	.audio-msg-track .audio-msg-track--btn[aria-label="Pause"]
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2211%22%20viewBox%3D%220%200%2010%2011%22%20width%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22%23121212%22%20stroke%3D%22%23121212%22%3E%3Crect%20height%3D%229%22%20rx%3D%22.5%22%20width%3D%222%22%20x%3D%221.5%22%20y%3D%221%22%2F%3E%3Crect%20height%3D%229%22%20rx%3D%22.5%22%20width%3D%222%22%20x%3D%226.5%22%20y%3D%221%22%2F%3E%3C%2Fsvg%3E") var(--vdarker_accent) no-repeat 50% imp

	/* "Go up" на длинных страницах */
	#stl_text
		color: var(--vdarker_grayW) imp


@-moz-document domain("vk.com"), domain("vk.ru")
	@media (prefers-color-scheme: dark)
		ApplyTheme()
	if forceDark
		ApplyTheme()
