/* ==UserStyle==
@name          Startpage dark loading screen
@author        0ko (https://userstyles.world/~0ko)
@description   Startpage has some CSS problems. One of them is that proper rules for dark/light theme are loaded only after you've been flashed for a second. This style ports dark theme background to the loading page so this doesn't happen. It works automatically when your browser is set to dark theme, but you can force enable it using the corresponding option.
@version       1.1.2
@license       MIT-0
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Startpage/DarkLoadingScreen/StartpageDLS.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  forceDark "Force dark theme" 0

==/UserStyle== */

imp = !important

ApplyTheme()
	:root
		--background-base: #171B25 imp

@-moz-document domain("www.startpage.com")
	@media (prefers-color-scheme: dark)
		ApplyTheme()
	if forceDark
		ApplyTheme()
