/* ==UserStyle==
@name          Less noisy Discord
@author        0ko (https://userstyles.world/~0ko)
@description   ToDo
@version       1.0.0
@license       MIT-0
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/ToDo
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  toDo "ToDo" 0

==/UserStyle== */

imp = !important

@-moz-document domain("discord.com")
	/* Homepage - Shop tab */
	[role="listitem"] a[href^="/shop"]
		display: none imp

	/* Homepage - top right corner - a (?) button */
	a[href^="https://support.discord.com"]
		display: none imp

	/* Overlaying avatar decorations */
	svg
	img
		&[class*="avatarDecoration_"]
			display: none imp

	/* Own profile modal - "Add status" */
	[aria-modal="true"]
		[class*="addCustomStatusButtonBubble_"]
			display: none imp
