/* ==UserStyle==
@name          Forgejo singlecolor heatmap
@author        0ko (https://userstyles.world/~0ko)
@description   The heatmap can be overly motivating...and disappointing. Make all active heatmap tiles use the same color.
@version       1.0.2
@license       MIT-0
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Forgejo/SCHM/SingleColorHeatMap.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var color     tileColorDark  "Tile color [Dark]"  "#fb923c"
@var color     tileColorLight "Tile color [Lgiht]" "#f7a44e"

==/UserStyle== */

imp = !important

@-moz-document url-prefix("h")

	html[data-theme*="forgejo"]
		[data-heatmap-data]
			.vch__day__square
				--color-primary-light-4: var(--singlecolor-heatmap-color) imp
				--color-primary-light-2: var(--singlecolor-heatmap-color) imp
				--color-primary: var(--singlecolor-heatmap-color) imp
				--color-primary-dark-2: var(--singlecolor-heatmap-color) imp
				--color-primary-dark-4: var(--singlecolor-heatmap-color) imp

			.vch__legend-right
				visibility: hidden

		&[data-theme*="-dark"] [data-heatmap-data]
			--singlecolor-heatmap-color: tileColorDark
		&[data-theme*="-light"] [data-heatmap-data]
			--singlecolor-heatmap-color: tileColorLight
		&[data-theme*="-auto"] [data-heatmap-data]
			@media (prefers-color-scheme: dark)
				--singlecolor-heatmap-color: tileColorDark
			@media (prefers-color-scheme: light)
				--singlecolor-heatmap-color: tileColorLight
