/* ==UserStyle==
@name          YouTube Custom Meta Width
@author        0ko (https://userstyles.world/~0ko)
@description   Lets the user configure the placement and width of video meta info. For example, to align it with the video. Only in theater mode.
@version       1.0.0
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/YouTube/MetaWidth/YouTubeCMW.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var range     customMargin1  "Custom margin major"    [200, 0, 1000, 50, 'px']
@var range     customMargin2  "Custom margin precise"  [0, 0, 50, 1, 'px']
@var color     usageHint      "It takes a second to apply the change." "#7f7f7f"

==/UserStyle== */

imp = !important

customMargin = customMargin1 + customMargin2

@-moz-document domain("youtube.com")

	ytd-watch-flexy[theater] .ytd-watch-flexy#columns
		max-width: unset imp
		margin-left: customMargin imp
		margin-right: customMargin imp
