/* ==UserStyle==
@name          Clean ya.ru
@author        0ko (https://userstyles.world/~0ko)
@description   Поисковик ya.ru без мусора
@version       2.0.5
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Yandex/CleanYa/CleanYa.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  noRelatedSearches  "Без похожих поисков" 1

==/UserStyle== */

imp = !important

@-moz-document domain("ya.ru")
	/* / */
	.headline
	.simple-popup
	.simple-popup__overlay
	.services-suggest
	.mini-suggest__overlay
	.mini-suggest__group_layout_separated
	.mini-suggest__item_with-button
	.informers3
	.banner
	.market-feed
	.promo-gallery
	.new-year-feed
	.alice-fab
	.alice-fab__promo

	.search3__keyboard
	.search3__voice
		display: none imp

	.document_main-content-hidden_yes .body__content
		display: block imp

	/* /search */
	.HeaderDesktopLogo:not(:hover)
		opacity: .8
	.HeaderDesktopActions-VoiceSearch
	.HeaderDesktopActions-MarketCart
	.HeaderDesktopLogin
	.HeaderDecoration
	.Distribution-Popup
	.HeaderDesktopNavigation-Fixed
		display: none imp

	#search-result-aside [data-bem]:not(:has(a[href*="wikipedia.org"]))
		display: none imp

	#search-result-aside
		.EntityCardFacts /* AI summary */
		.EntityCardListRoot /* see also */
			display: none imp

	.SerpFooter-LinksGroup_type_feedback
	.SerpFooter-LinksGroup_type_help
	.SerpFooter-LinksGroup_type_morda
	.SerpFooter-Extralinks

	.EntityFeedbackFooter .EntityFeedbackFooter-Link:last-child /* button.EntityFeedbackFooter-Link */
	.Warning_type_roskomnadzor
	.Metadoc-Footer.Typo
	.RequestMeta[data-fast-name="legal"]

	.AliceFabContainer
	#alice-fab

	/* /images */
	.SearchPrevention
	.AdvMastHead
	.AdvRsyaCrossPage
	.ImagesViewer-SidebarAdv
	.ImagesViewer-LayoutSideblock [class*="-Container"] [class*="-Card"] [class*="ImagesViewer-"] [style*="max-width: 100%; max-height:"]
	.RelatedImages [class$="-Incut"]

	/* /images mobile */
	.ImagesTouchViewer-Card_behavioralDirect[style*="max-width: 100%; max-height: "]

	.SerpPolaroid-Extra
	.MMOrganicSnippet-Aside
	.ImagesViewer-ScrollUpWrapper

	/* /video */
	.Popup2:not(.ExtralinksPopup):not(.AppAdvancedSearch-FilterPopup):not(.CbirPanel-Popup)
		display: none imp

	button[icontype="feedback"]
	.SettingsToolbarShortFiltersButton_unsupported
	.PreventionFeature
	.VideoSnippet2-Buttons
	.SerpListFeature :not(.SearchBlock)[class*="_placement_search"][class*="_platform_desktop"][class*="_page_search"]
		display: none imp

	if noRelatedSearches
		/* /search */
		.RelatedBottom

		/* /images */
		.SearchRelatedGallery
			display: none imp
