/* ==UserStyle==
@name          Fast ConVars
@author        0ko (https://userstyles.world/~0ko)
@description   Removes loading screen so you can use the site without waiting for all the 4k images from Reddit to load. Also contains some other tweaks.
@version       1.1.12
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles#fast-convars
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/ConVars/Fast/Fast.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  noPreloader  "No loading screen" 1
@var checkbox  noAds        "No ads"            1
@var checkbox  noChangelogs "No changelogs"     1

==/UserStyle== */

imp = !important

@-moz-document domain("convars.com")

	if noPreloader
		#preloader
		.preloader_v3
			display: none imp

		/* has "hidden" applied for loading screen, removed by a script, so it's not removed with JS disabled, while some pages may still be partially usable w/o it. */
		#main
			visibility: visible imp

	if noAds
		.case a[href^="https://csgopositive."][href*="/convars"]
		.csgostats a[href^="https://convars.com/aimrogue.php?s=csgostatsen"]
			display: none imp

	if noChangelogs
		/* There huge historical changelogs on some pages */

		.cv_changelog
			display: none imp

		#changelogBlock::before
			content: "Is hidden by user style"

		#changelogBlock
			text-align: center
			padding: 16px
