/* ==UserStyle==
@name          Clean DeepL
@author        0ko (https://userstyles.world/~0ko)
@description   Removes useless UI parts that don't affect the use of the service.
@version       2.2.11
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/DeepL/Clean/CleanDeepL.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  noLogin  "No login button"          0
@var checkbox  noMenu   "No menu button"           0
@var checkbox  noUILang "No UI language selector"  0

==/UserStyle== */

imp = !important

@-moz-document domain("deepl.com")

	#dl_menu_logo
	[class*="Logo-module--logo--"]
	#dl_menu_write_simplified
	[class*="PageHeaderLink-module--pageHeaderLink--"]
	[class*="ProductNavigation-module--container--"] button[data-headlessui-state] .relative .absolute.rounded-lg.bg-red-500 /* red dot */
	[class*="ProductNavigationLinks-module--container--"] /* DeepL Pro / For Business / Why DeepL? - dupped in burger menu */
	[class*="SignupButton-module--container--"]
	[class*="StartFreeTrialButton-module--container--"]
	[class*="ProductUpdateButton-module--"]
	#resources-hub-button
	#top-navi-links-container
	[aria-label="Supported languages"]
	[aria-label*="Product updates"] /* Product updates (sorry: no multilanguage support. no other reliable way to hide) */
	[data-testid$="-extension-toast"] /* popup (chrome-extension-toast, firefox-extension-toast) */
	[data-testid="write-advertisement-banner"] /* popup */
	[aria-labelledby="text-translator-section-heading"] .bottom-0 .space-x-2 /* thumbs up/down */
	[aria-labelledby="career-banner-heading"]
	[data-testid="translator-target-toolbar-share-popup"]
	#dl_write_banner_container
	a[href^="/write"] span[class*="badge-module--proDark--"][class*="badge-module--tiny--"]
	a[class*="AppDownloadButton-module--appDownloadButton--"]
	a[href$="/pro-write"]
	[data-testid="write-promo-banner"]
	[data-testid="app_banner_content"]
	[data-testid="navigation-bar-pricing-link"]
	[data-testid="personalized-navi-products-flyout-button"]
	[data-testid="personalized-navi-solutions-flyout-button"]
	[data-testid="personalized-navi-apps-flyout-button"]
	[class*="Quotes-module--quotes--"]
	[class*="CareerBanner-module--container--"]
	[class*="PopularLangPairList-module--seoText--"]
	[data-testid="dl-cookieBanner"] /* v1 for Write */
	[class*="cookieBanner-module--outer--"] /* v2 for Translator */
	[class*="footerContentContainer--"] /* links */
	[class*="socialMediaContainer--"] /* social links */
		display: none imp

	.bg-blue-100:has(a[href^="/pro-write"])
		display: none imp

	#dl_write_header_container /* Perfect your writing in seconds */
		visibility: hidden imp

	[data-testid="write-banner"] /* Image near "Write with confidence, powered by AI" */
		img[src="https://static.deepl.com/img/write/write_benefits.png"]
			display: none imp

	[class*="footerOuterContainer--"] /* reduce footer remainings */
		padding: 20px

	/* document translations */
	/* seem to be free but require account - not removed yet */
	a[href^="/signup?cta=free-doctrans-signup"] /* Sign up button in the Translate files tab */
	img[src^="https://static.deepl.com/img/doctrans/doctrans_account_required.svg"] /* some useless bright pic */
		display: none imp

	/* remove banner containers if possible */
	.w-full
	.p-8
		&:has([data-testid="write-promo-banner"])
		&:has([data-testid="app_banner_content"])
		&:has([class*="Quotes-module--quotes--"])
		&:has([class*="CareerBanner-module--container--"])
		&:has([class*="PopularLangPairList-module--seoText--"])
			display: none imp

	.bg-blue-next-100.justify-center
		&:has(a[href^="/pro-write"])
		&:has(a[href^="/write"])
			display: none imp

	if noLogin
		[class*="LoginButton-module--loginButton--"]
		[data-testid="menu-account-out-btn"]
		a[href="/signup?cta=free-header-signup-button"]
			display: none imp

	if noMenu
		[class*="SideMenuButton-module--menuButton--"]
		#top-navi-sidemenu-opener
			display: none imp

	if noUILang
		footer [class*="languageSelectorContainer"]
			display: none imp
