/* ==UserStyle==
@name          Codeberg dark unavailable
@author        0ko (https://userstyles.world/~0ko)
@description   Dark theme for Codeberg unavailability screen, using colors from Forgejo dark theme.
@version       1.0.2
@license       MIT
@preprocessor  stylus

@namespace     0ko userstyles
@homepageURL   https://codeberg.org/0ko/UserStyles
@updateURL     https://codeberg.org/0ko/UserStyles/raw/main/Codeberg/DarkUnavailable/CBDarkUnavailable.user.css
@supportURL    https://codeberg.org/0ko/UserStyles/issues

@var checkbox  forceDark "Force dark theme" 0

==/UserStyle== */

imp = !important

ApplyTheme()
	:root
		--cbdu-color-primary: #fb923c

		--cbdu-steel-800: #171e26
		--cbdu-steel-100: #d2e0f0

		--lm-base-body-bg-color: var(--cbdu-steel-800)
		--lm-base-text-color: var(--cbdu-steel-100)

		--lm-link-text-color: var(--cbdu-color-primary)
		--lm-link-text-color-hover: var(--cbdu-color-primary)

@-moz-document domain("codeberg.org"), domain("staging.codeberg.org")
	@media (prefers-color-scheme: dark)
		ApplyTheme()
	if forceDark
		ApplyTheme()
